<form action="/data" method = "POST">
    <p>1. Return json and insert into database<br/>
       2. Return opening, closing, high, low for given company and date, and write to csv and json<br/>
       3. Return per date difference between closing and opening value<br/>
       4. Calculate per date average of all companies' difference between closing and opening value<br/>
       5. Return maximum number of continuous days where closing value was greater than opening value<br/>
       <input type = "text" name = "choice" placeholder = "Enter your choice" />
    <p><input type = "submit" value = "Submit" /></p>
</form>
